* {
    margin: 0;
    padding: 0;
}

.main {
    width: 1020px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.header {
    height: 95px;
    width: 100%;
    /* padding: 30px 40px 0 40px; */
    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
}

.logo {
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
}

.logo-red {
    color: #c75e5a;
}

.nav {
    width: 370px;
    margin-top: 43px;
    /* margin-bottom: auto; */
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    text-decoration: none;
    color: white;
}

.nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-component {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.selected {
    color: #f06c64;
}

.decoration-point:before {
    content: "·";
    color: #494e62;
    padding-right: 12px;
}


/* styles of slider */

.slider {
    width: 100%;
    height: 600px;
    background-color: #f06c64;
}

.images-container, .arrows-container {
    position: absolute;
}

.vertical-image {
    position: absolute;
    top: 53px;
    left: 112px;
}

.horizontal-image {
    position: absolute;
    top: 174px;
    left: 425px;
}

.previous {
    position: absolute;
    top: 281px;
    left: 42px;
}

.next {
    position: absolute;
    top: 282px;
    left: 964px;
}